# Python
__pycache__/
*.pyc
.venv/
env/
venv/
*.pyo
*.pyd

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packaging
dist/
build/
*.egg-info/

# Secrets
*.env
__pycache__/
*.pyc
.env
.venv
.env/
venv/
node_modules/
.idea/
.vscode/
dist/
build/
